.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

table {
  border-collapse: collapse;
  width: 95.5%;
}

th, td {
  text-align: left;
  padding: 8px;
}
th {background-color:  #ffd6cc;}
td {background-color: #f2f2f2;}

.field {
 width: 50px;
}
#myInput {
  background-image: url('https://www.google.com/url?sa=i&source=images&cd=&ved=2ahUKEwjfh5PMto3hAhVbfCsKHY0FBxkQjRx6BAgBEAU&url=http%3A%2F%2Fchittagongit.com%2Ficon%2Fwhite-search-icon-png-5.html&psig=AOvVaw2S8higQmQzbtSHh_94QdK_&ust=1553058138749393');
  background-position: 10px 12px;
  background-repeat: no-repeat;
  width: 15%;
  font-size: 16px;
  padding: 12px 20px 12px 40px;
  border: 2px solid #ddd;
  margin-bottom: 10px;
  
}
.btn-group .button {
  background-color: #f2f2f2; /* Green */
  border: none;
  color: rgb(7, 7, 7);
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  cursor: pointer;
 
}

.btn-group .button:hover {
  background-color: #f2f2f2;
}

#progress { 
  width: 62.4%; 
  background-color: #f2f2f2;
 
} 
  
